<footer class="text-center text-white footer-container">
  <div class="container pt-4">
    <section class="mb-4">
      <a class="social-icon" href="#!" role="button">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a class="social-icon" href="#!" role="button">
        <i class="fab fa-google"></i> Google
      </a>
      <a class="social-icon" href="#!" role="button">
        <i class="fab fa-instagram"></i> Instagram
      </a>
      <a class="social-icon" href="https://www.linkedin.com/in/ashwani-kumar-2a33651b3/" role="button">
        <i class="fab fa-linkedin"></i> Linkedin
      </a>
      <a class="social-icon" href="https://github.com/ashwthama" role="button">
        <i class="fab fa-github"></i> Github
      </a>
    </section>
  </div>
  <div class="text-center text-dark p-3 copyright-section">
    made by Human
  </div>
</footer>
