<div class="scroll-container" (window:scroll)="onScroll($event)">
  <div class="section section-one" [ngStyle]="{ opacity: firstComponentOpacity }">
    <div class="header-position">
      <!-- <app-header></app-header> -->
    </div>
    <app-home class="fix-display"></app-home>
  </div>

  <div class="section section-two" [ngClass]="{ visible: secondComponentVisible }">
    <app-about></app-about>
  </div>
  <div class="section section-three" [ngClass]="{ visible: thirdComponentVisible }">
    <app-contact-me></app-contact-me>
  </div>
</div>  
<!-- <div class="container" (mousemove)="onMouseMove($event)">
  <img
    src="https://png.pngtree.com/png-clipart/20230927/original/pngtree-modern-rocket-ship-object-sticker-png-image_13139788.png"
    class="moving-image"
    [ngStyle]="{'top.px': position.y, 'left.px': position.x}"
  />
</div> -->

