html, body {
    margin: 0;
    padding: 0;
    height: 200%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
  }
  
  .scroll-container {
    max-width: 100%;
    height: 100vh;
  }
  
  .section {
    height: 100vh;
    width: 100%;
    //display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
  }
  
  /* First component style */
  .section-one {
    background-color: white;
    color: white;
    font-size: 2rem;
    transition: opacity 0.5s ease-in-out;
  }

  /* Second component style */
  .section-two {
    //background: linear-gradient(180deg, #fef898,#fce9b9);  
    background-color: #ffffff;
    color: white;
    font-size: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
  }
  .section-three {
    background-color: #fcfcfc;
    color: white;
    font-size: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;
  }
  
  .section-three.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s;
  }
  .section-two.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0s;
  }
  .fix-display{
max-width: 100%;
  } 
  // .container {
  //   position: relative;
  //   width: 100%;
  //   height: 100vh; /* Full screen height */
  // }
  
  // .moving-image {
  //   position: absolute;
  //   width: 100px; /* Adjust the size as needed */
  //   height: 100px; /* Adjust the size as needed */
  //   pointer-events: none; /* Prevent the image from interfering with mouse actions */
  // }
  