
<div class="display-flex">
  <p class="p-equal">
    I'm a software developer based in Nagpur, India. I have a passion for new
    technologies and to develop something useful for society.
  </p>

  <p class="p-equal">
    <b>Design what you want.</b>
    <br>
    I like to keep it simple. My goals are to focus on typography, content and
    conveying the message that you want to send.
  </p>

  <p class="p-equal">
    <b>I’m currently available for freelance work.</b>
    <br>
    If you have a project that you want to get started, think you need my help
    with something or just fancy saying hey, then get in touch.
  </p>
</div>
<div>
  <app-tech></app-tech>
</div>

