<div style="position: absolute; left: 500px; top: 800px;">
    <img src="https://imgs.search.brave.com/739iMZQqJ1MrrjdtJOEAWRCtVt2yjMol90yqdOWshWE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS8x/MjgvMTQ1LzE0NTg2/Ny5wbmc"  alt="">
    <pre style="position: absolute; top: 60px; left: 100px;">
        I'm a software developer based in Noida, 
        India. I have a passion for new technologies and to 
        develop something useful for society.
    </pre>
</div>

<div style="position: absolute; left: 500px; top: 1000px;">
    <img src="https://imgs.search.brave.com/739iMZQqJ1MrrjdtJOEAWRCtVt2yjMol90yqdOWshWE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS8x/MjgvMTQ1LzE0NTg2/Ny5wbmc"  alt="">
    <pre style="position: absolute; top: 60px; right: 100px;">
        <b>Design what you want.</b>
        I like to keep it simple. My goals are to focus 
        on typography, content and conveying the
        message that you want to send.
    </pre>      
</div>

<div style="position: absolute; left: 500px; top: 1200px;">
    <img src="https://imgs.search.brave.com/739iMZQqJ1MrrjdtJOEAWRCtVt2yjMol90yqdOWshWE/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4t/aWNvbnMtcG5nLmZs/YXRpY29uLmNvbS8x/MjgvMTQ1LzE0NTg2/Ny5wbmc"  alt="">
    <pre style="position: absolute; top: 60px; left: 100px;">
        <b>I’m currently available for freelance work.</b>
        If you have a project that you want to get started, 
        think you need my help with something or just 
        fancy saying hey, then get in touch.
    </pre>      
</div>