<div>
    <img src=""  alt="">
    <pre >
        I'm a software developer based in Noida, 
        India. I have a passion for new technologies and to 
        develop something useful for society.
    </pre>
</div>

<div>
    <img src=""  alt="">
    <pre >
        <b>Design what you want.</b>
        I like to keep it simple. My goals are to focus 
        on typography, content and conveying the
        message that you want to send.
    </pre>      
</div>

<div >
    <img src=""  alt="">
    <pre >
        <b>I’m currently available for freelance work.</b>
        If you have a project that you want to get started, 
        think you need my help with something or just 
        fancy saying hey, then get in touch.
    </pre>      
</div>